  
* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 120%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  body {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
    }
  
  #scoreDisplay {
    float: left;
    color: rgb(0, 0, 0);
  }
  
  #scoreDisplay:hover {
    color: black;
  }
  
  #timerDisplay {
    color: rgb(0, 0, 0);
    float: right;
    }
  

  button {
      background-color: rgb(70, 5, 111);
      color: white;
  }
  
  .container {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }
